<link rel="stylesheet" href="/css/edit.css">
<div class="container">
    <form action="/teams/edit-teams/{{team.id}}" method="POST">
        <div id="logo"></div>
        <div id="title">Editar Socio</div>
        <div id="input">
            <div id="inputBox">
                <label>nombre socio</label>
                <input type="text" value="{{socio.nombre_socio}}" name="nombre_socio" class="form-control"
                    placeholder="nombre socio" />
            </div>
            <div id="inputBox">
                <label>apellido socio</label>
                <input type="text" value="{{socio.apellido_socio}}" name="apellido_socio" class="form-control"
                    placeholder="apellido socio" />
            </div>
            <div id="inputBox">
                <label>correo electronico</label>
                <input type="text" value="{{socio.correo_electronico}}" class="form-control" name="correo_electronico"
                    placeholder="correo electronico" autofocus />
            </div>
            <div id="inputBox">
                <label>telefono</label>
                <input type="text" value="{{socio.telefono}}" name="telefono" class="form-control"
                    placeholder="telefono" />
            </div>
            
            <div id="inputBox">
                <input type="submit" value="Guardar" />
            </div>
        </div>
    </form>
</div>
</div>
</div>
</div>




